.card-container {
  display: flex;
  width: 600px;
  height: 400px;
  border: 1px solid $color4;
  margin: 3rem 2rem;
  box-shadow: $color4 2px 2px 2px;

  .left-container {
    img {
      width: 300px;
      height: 400px;
    }
  }

  .right-container {
    width: 300px;
    text-align: center;
    color: $color4;
    background-color: $color1;

    h2 {
      font-variant: small-caps;
      background-color: $color3;
      margin: 0;
      color: $color1;
      height: 4rem;

    }

    .description-container p{
      font-size: $font-size1;
      text-align: justify;
      padding: 0 1rem;
    }
  }
}