.card-container {
  display: flex;
  width: 600px;
  height: 400px;
  border: 1px solid $color4;
  margin: 3rem 2rem;
  box-shadow: $color4 2px 2px 2px;

  &:hover {
    transform: scale(1.2);
    transition: all 200ms ease-in;
  }

  .left-container {
    img {
      width: 300px;
      height: 400px;
    }
  }

  .right-container {
    width: 300px;
    text-align: center;
    color: $color4;
    background-color: $color1;

    h2 {
      display: flex;
      justify-content: center;
      font-variant: small-caps;
      background-color: $color3;
      margin: auto;
      color: $color1;
      height: 4rem;
      line-height: 4rem;
      font-size: $font-size2;

    }

    h3 {
      font-variant: small-caps;
      color: $color2;
      font-size: $font-size2;
      margin: 0.5rem 0;
    }

    .info-container {
      display: flex;
      justify-content: space-around;
    }

    .description-container p{
      font-size: $font-size1;
      text-align: justify;
      padding: 0 1rem;
      margin: 0;
    }

    .rate-container {
      display: flex;
      justify-content: space-around;
      margin-top: 0.5rem;

      h3 {
        margin: 0;
      }
    }
  }
}